@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Inter';
    src: url('./assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf');
}

@font-face{
    font-family: 'Lexend';
    src: url('./assets/fonts/lexend/Lexend-VariableFont_wght.ttf');
}

.text-hero-gradient{
  background: linear-gradient(to right, #D0D2E3, #6F7498);
  -webkit-background-clip: text; 
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body{
    font-family: 'Inter', sans-serif;
}